/* src/pages/RegistroDePonto.css */

.registro-de-ponto-page {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  overflow: hidden; /* Remove rolagem excessiva */
}

.registro-de-ponto-page .content {
  flex: 1;
  padding: 20px;
  margin-left: 500px; /* Ajusta o espaço da esquerda para mover os componentes mais para a esquerda */
  transition: margin-left 0.3s ease;
}

.registro-de-ponto-page .header {
  text-align: center;
}

.registro-de-ponto-page .menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.registro-de-ponto-page .header h2 {
  margin: 0;
  font-size: 24px;
  color: #555;
}

.registro-de-ponto-page .botoes-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.registro-de-ponto-page .botao {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Ajusta o botão para ocupar 100% da largura disponível */
  max-width: 150px; /* Define uma largura máxima para o botão */
  margin: 0 10px;
}

.registro-de-ponto-page .botao-entrada {
  background-color: #4CAF50;
  color: white;
}

.registro-de-ponto-page .botao-saida {
  background-color: #F44336;
  color: white;
}

.registro-de-ponto-page .botao-entrada:hover {
  background-color: #45a049;
}

.registro-de-ponto-page .botao-saida:hover {
  background-color: #d32f2f;
}
