/* Reset de margens e padding */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Container principal da página de login */
.login-container-login {
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Formulário de login */
.login-form-login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Estilo da logo */
.logo-login h1 {
  font-size: 36px;
  color: #333;
}

.logo-login h1 span {
  color: #f0c30f; /* Cor do # na logo */
}

/* Container para os inputs */
.input-container-login {
  width: 100%;
  max-width: 300px;
  margin: 20px 0;
}

.input-container-login input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Estilo do botão de login */
.button-login {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: calc(100% + 20px); /* Aumenta o tamanho do botão */
  max-width: 320px; /* Define um limite máximo de largura */
  margin-left: +15px;
}

/* Estilo do contêiner de registro */
.register-container-login {
  text-align: center;
  margin-bottom: 10px;
}

/* Estilo do parágrafo */
.register-container-login p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

/* Estilo do link */
.register-link-login {
  color: #007bff; /* Cor azul padrão para links */
  text-decoration: none;
  font-weight: bold;
}

/* Adiciona um efeito de sublinhado ao passar o mouse */
.register-link-login:hover {
  text-decoration: underline;
}

/* Imagem de fundo da página de login */
.login-image-login {
  flex: 1;
  background-image: url(../../images/page1_img2.jpg);
  background-size: cover;
  background-position: center;
}

.fieldMatricula.invalid,
.fieldSenha.invalid {
    border-color: #ff6347; 
}

.fieldMatricula.valid,
.fieldSenha.valid {
    border-color: #4caf50;
}